Repository frequenz-floss/flake8-numbers, changes with the labels that .github/labeler.yml gives for each.
All labels: part:docs, part:tests, part:tooling

.github/labeler.yml:

# Configuration for the Labeler GitHub action, executed by
# .github/workflows/labeler.yml.
#
# The basic syntax is [label]: [path patterns].
#
# For more details on the configuration please see:
# https://github.com/marketplace/actions/labeler

# TODO(cookiecutter): Add different parts of the source
# For example:
#
# "part:module":
#   - "src/frequenz/lib/flake8_numbers/module/**"
#
# "part:other":
#   - "src/frequenz/lib/flake8_numbers/other/**"
#
# # For excluding some files (in this example, label "part:complicated"
# # everything inside src/ with a .py suffix, except for src/__init__.py)
# "part:complicated":
#   - any:
#       - "src/**/*.py"
#   - all:
#       - "!src/__init__.py"
#
# Please have in mind that that the part:xxx labels need to
# be created in the GitHub repository.

"part:docs":
  - "**/*.md"
  - "docs/**"
  - "examples/**"
  - LICENSE

"part:tests":
  - "**/conftest.py"
  - "tests/**"

"part:tooling":
  - "**/*.ini"
  - "**/*.toml"
  - "**/*.yaml"
  - "**/*.yml"
  - "**/conftest.py"
  - ".editorconfig"
  - ".git*"
  - ".git*/**"
  - "docs/*.py"
  - CODEOWNERS
  - MANIFEST.in
  - noxfile.py

Make nox happy
  src/flake8_numbers/__init__.py
  src/flake8_numbers/py.typed
Labels: none

Initial implementation of the flake8-numbers plugin
  README.md
  pyproject.toml
  src/flake8_numbers/check_numbers.py
  tests/test_flake8_numbers.py
Labels: part:docs, part:tests, part:tooling

Initial implementation of the flake8-numbers plugin
  README.md
  RELEASE_NOTES.md
  pyproject.toml
  src/flake8_numbers/__init__.py
  src/flake8_numbers/check_numbers.py
  tests/test_flake8_numbers.py
Labels: part:docs, part:tests, part:tooling

Applying some review and general code cleanups
  pyproject.toml
  src/flake8_numbers/check_numbers.py
  tests/test_flake8_numbers.py
Labels: part:tests, part:tooling

More review applied
  pyproject.toml
  src/flake8_numbers/check_numbers.py
  tests/test_flake8_numbers.py
Labels: part:tests, part:tooling

Adapt test cases to be more readable
  tests/test_flake8_numbers.py
Labels: part:tests

Apply review
  src/flake8_numbers/check_numbers.py
  tests/test_flake8_numbers.py
Labels: part:tests

Improve README.md
  README.md
Labels: part:docs

Remove custom_templates from mkdocstrings plugin configuration
  mkdocs.yml
Labels: part:tooling

Set default version to latest with mike 1.1.2
  index.html
Labels: none

Deployed 34ed9f7 to next with MkDocs 1.5.3 and mike 1.1.2
  next/sitemap.xml.gz
  versions.json
Labels: none

Update release notes for the v0.1.0 release
  RELEASE_NOTES.md
Labels: part:docs

Clear release notes
  RELEASE_NOTES.md
Labels: part:docs

Deployed f84c4e0 to next with MkDocs 1.5.3 and mike 1.1.2
  next/sitemap.xml.gz
  versions.json
Labels: none

Deployed 2ff7ac0 to next with MkDocs 1.5.3 and mike 1.1.2
  next/sitemap.xml.gz
  versions.json
Labels: none

Deployed 37906d1 to next with MkDocs 1.5.3 and mike 1.1.2
  next/sitemap.xml.gz
  versions.json
Labels: none

Deployed 08dae7e to next with MkDocs 1.5.3 and mike 1.1.2
  next/404.html
  next/CONTRIBUTING/index.html
  next/SUMMARY/index.html
  next/assets/javascripts/bundle.cd18aaf1.min.js
  next/assets/javascripts/bundle.cd18aaf1.min.js.map
  next/assets/javascripts/bundle.d7c377c4.min.js
  next/assets/javascripts/bundle.d7c377c4.min.js.map
  next/assets/stylesheets/main.50c56a3b.min.css
  next/assets/stylesheets/main.50c56a3b.min.css.map
  next/assets/stylesheets/main.fad675c6.min.css
  next/assets/stylesheets/main.fad675c6.min.css.map
  next/assets/stylesheets/palette.06af60db.min.css
  next/assets/stylesheets/palette.06af60db.min.css.map
  next/assets/stylesheets/palette.356b1318.min.css
  next/assets/stylesheets/palette.356b1318.min.css.map
  next/index.html
  next/reference/SUMMARY/index.html
  next/reference/flake8_numbers/check_numbers/index.html
  next/reference/flake8_numbers/index.html
  next/sitemap.xml.gz
Labels: none

Deployed cc4b7c3 to next with MkDocs 1.5.3 and mike 1.1.2
  next/sitemap.xml.gz
  versions.json
Labels: none

Deployed cede8f2 to next with MkDocs 1.5.3 and mike 1.1.2
  next/404.html
  next/CONTRIBUTING/index.html
  next/SUMMARY/index.html
  next/assets/_mkdocstrings.css
  next/assets/javascripts/bundle.d7c377c4.min.js
  next/assets/javascripts/bundle.d7c377c4.min.js.map
  next/assets/javascripts/bundle.e1c3ead8.min.js
  next/assets/javascripts/bundle.e1c3ead8.min.js.map
  next/assets/javascripts/workers/search.b8dbb3d2.min.js
  next/assets/javascripts/workers/search.b8dbb3d2.min.js.map
  next/assets/javascripts/workers/search.f886a092.min.js.map
  next/index.html
  next/reference/SUMMARY/index.html
  next/reference/flake8_numbers/check_numbers/index.html
  next/reference/flake8_numbers/index.html
  next/sitemap.xml.gz
  versions.json
Labels: none

Deployed 66adde7 to next with MkDocs 1.5.3 and mike 1.1.2
  next/404.html
  next/CONTRIBUTING/index.html
  next/SUMMARY/index.html
  next/assets/javascripts/bundle.caa56a14.min.js
  next/assets/javascripts/bundle.caa56a14.min.js.map
  next/assets/javascripts/bundle.e1c3ead8.min.js
  next/assets/javascripts/bundle.e1c3ead8.min.js.map
  next/assets/stylesheets/main.50c56a3b.min.css
  next/assets/stylesheets/main.50c56a3b.min.css.map
  next/assets/stylesheets/main.f2e4d321.min.css
  next/assets/stylesheets/main.f2e4d321.min.css.map
  next/index.html
  next/reference/SUMMARY/index.html
  next/reference/flake8_numbers/check_numbers/index.html
  next/reference/flake8_numbers/index.html
  next/sitemap.xml.gz
  versions.json
Labels: none

Deployed 77e72f4 to next with MkDocs 1.5.3 and mike 1.1.2
  next/404.html
  next/CONTRIBUTING/index.html
  next/SUMMARY/index.html
  next/assets/javascripts/bundle.8fd75fb4.min.js
  next/assets/javascripts/bundle.8fd75fb4.min.js.map
  next/assets/javascripts/bundle.caa56a14.min.js
  next/assets/javascripts/bundle.caa56a14.min.js.map
  next/index.html
  next/reference/SUMMARY/index.html
  next/reference/flake8_numbers/check_numbers/index.html
  next/reference/flake8_numbers/index.html
  next/sitemap.xml.gz
  versions.json
Labels: none

Deployed 48fb870 to next with MkDocs 1.5.3 and mike 1.1.2
  next/404.html
  next/CONTRIBUTING/index.html
  next/SUMMARY/index.html
  next/assets/stylesheets/main.7e359304.min.css
  next/assets/stylesheets/main.7e359304.min.css.map
  next/assets/stylesheets/main.f2e4d321.min.css
  next/assets/stylesheets/main.f2e4d321.min.css.map
  next/index.html
  next/reference/SUMMARY/index.html
  next/reference/flake8_numbers/check_numbers/index.html
  next/reference/flake8_numbers/index.html
  next/sitemap.xml.gz
  versions.json
Labels: none

Deployed 2e246a0 to next with MkDocs 1.5.3 and mike 1.1.2
  next/404.html
  next/CONTRIBUTING/index.html
  next/SUMMARY/index.html
  next/index.html
  next/reference/SUMMARY/index.html
  next/reference/flake8_numbers/check_numbers/index.html
  next/reference/flake8_numbers/index.html
  next/sitemap.xml.gz
Labels: none

Deployed 95f8f14 to next with MkDocs 1.5.3 and mike 1.1.2
  next/sitemap.xml.gz
  versions.json
Labels: none

Deployed 4a62247 to next with MkDocs 1.5.3 and mike 1.1.2
  next/404.html
  next/CONTRIBUTING/index.html
  next/SUMMARY/index.html
  next/assets/javascripts/bundle.8fd75fb4.min.js
  next/assets/javascripts/bundle.8fd75fb4.min.js.map
  next/assets/javascripts/bundle.c8d2eff1.min.js
  next/assets/javascripts/bundle.c8d2eff1.min.js.map
  next/index.html
  next/reference/SUMMARY/index.html
  next/reference/flake8_numbers/check_numbers/index.html
  next/reference/flake8_numbers/index.html
  next/sitemap.xml.gz
Labels: none

Deployed 494e0c4 to next with MkDocs 1.5.3 and mike 1.1.2
  next/404.html
  next/CONTRIBUTING/index.html
  next/SUMMARY/index.html
  next/assets/javascripts/bundle.bd41221c.min.js
  next/assets/javascripts/bundle.bd41221c.min.js.map
  next/assets/javascripts/bundle.c8d2eff1.min.js
  next/assets/javascripts/bundle.c8d2eff1.min.js.map
  next/index.html
  next/reference/SUMMARY/index.html
  next/reference/flake8_numbers/check_numbers/index.html
  next/reference/flake8_numbers/index.html
  next/sitemap.xml.gz
  versions.json
Labels: none
